{:paths ["."]
 :deps {org.clojure/core.async {:mvn/version "1.3.610"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        com.taoensso/truss {:mvn/version "1.6.0"}}}
